#OSX
#-------------------------------------------------------------------------------
.DS_STORE

# IDE's
.idea/*
*.iml

#General
#-------------------------------------------------------------------------------
app/build/*
app/node_modules/*
*.tsx
